@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  outline: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
}

label,
.label-flex {
  display: flex;
  font-weight: 500;
  margin-bottom: 5px;
}

label[data-required] {
  margin-left: 5px;
  color: red;
}

input + label {
  font-weight: 500;
  display: inline-flex;
  margin-right: 25px;
}

label[data-type="checkbox-label"] {
  margin-left: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 20px;
}

.error {
  color: red;
}
